{% extends "base.html" %}
{% block title %}SmartRnD - Overview{% endblock title %}
{% block content %}
<!-- Main Content -->
<div class="col-8">
    <!-- Employee Datatable -->
    <div class="row">
        <div class="table-responsive">

            <h4>Employee</h4>
        <table id="emlployeedatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th class="col-sm-1">ID</th>
                <th class="col-sm-2">First Name</th>
                <th class="col-sm-2">Last Name</th>
                <th class="col-sm-2">Type of Employment</th>
                <th class="col-sm-1">Max. Capacity</th>
                <th class="col-sm-2">Hiring Date</th>
                <th class="col-sm-2">Expiration Date</th>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                     <td>{{ employee.id }}</td>
                     <td>{{ employee.firstname }}</td>
                     <td>{{ employee.lastname }}</td>
                     <td>{{ employee.type }}</td>
                     <td>{{ employee.capacity }}</td>
                     <td>{{ employee.hiring_date }}</td>
                     <td>{{ employee.expiration_date }}</td>
                </tr>
               {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Task Datatables -->
    <div class="row">
        <div class="table-responsive">
            <!-- Project Datatable -->
            <h4>Project</h4>
            <table id="projectsdatatable" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-3">Title</th>
                        <th class="col-sm-4">Description</th>
                        <th class="col-sm-1">Start Date</th>
                        <th class="col-sm-1">Duration (in months)</th>
                        <th class="col-sm-1">End Date</th>
                        <th class="col-sm-1">Ressources</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.begin }}</td>
                        <td>{{ project.duration }}</td>
                        <td>{{ project.end }}</td>
                        <td>{{ project.ressources }}</td>
                         </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Position Datatable -->
            <h4>Position</h4>
            <table id="positionsdatatable" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-3">Title</th>
                        <th class="col-sm-7">Description</th>
                        <th class="col-sm-1">Ressources</th>
                    </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                    <tr>
                        <td>{{ position.id }}</td>
                        <td>{{ position.title }}</td>
                        <td>{{ position.description }}</td>
                        <td>{{ position.ressources }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Chair Datatable -->
            <h4>Chair</h4>
            <table id="chairsdatatable" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-3">Title</th>
                        <th class="col-sm-6">Description</th>
                        <th class="col-sm-1">Rotation</th>
                        <th class="col-sm-1">Requirements</th>
                    </tr>
                </thead>
                <tbody>
                {% for chair in chairs %}
                    <tr>
                        <td>{{ chair.id }}</td>
                        <td>{{ chair.title }}</td>
                        <td>{{ chair.description }}</td>
                        <td>{{ chair.rotation }}</td>
                        <td>{{ chair.requirement }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Spacing -->
<div class="col-1">

</div>
<!-- Sidebar -->
<div class="col-3">
    <div class="row">
        <h4>Warning(s):</h4>
        <!-- Loop thorugh project workloads and check if it's too big -->
        {% for project_info in project_infos %}
            {% if project_info.0 > project_info.1 %}
                <div class="alert alert-danger" role="alert">
                    {{ project_info.2 }} is currently using too many ressources! ({{ project_info.3 }}%)
                </div>
            {% endif %}
        {% endfor %}
        <!-- Loop thorugh project workloads and check if it's too big -->
        {% for employee_info in employee_infos %}
            {% if employee_info.1 > employee_info.2 %}
                <div class="alert alert-danger" role="alert">
                    {{ employee_info.0 }} is currently working too many hours! ({{ employee_info.3 }}%)
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <h4>Recommendation(s):</h4>
        <div class="alert alert-success" role="alert">
            Yet to be implemented
        </div>
    </div>
</div>
{% endblock content %}