{% extends "base.html" %}
{% block title %}SmartRnD{% endblock title %}

{% block content %}
<!-- Heading and month switcher <- today -> -->
<div class="row">
    <div class="col-3">
        <h3>Assignments for: </h3>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-9">
                <h3>{{ month.name }}</h3>
            </div>
            <div class="col-3">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-sm" href="{{ previous_month.id }}" role="button"><</a>
                    <a class="btn btn-primary btn-sm" href="{{ today.id }}" role="button">Today</a>
                    <a class="btn btn-primary btn-sm" href="{{ next_month.id }}" role="button">></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table -->
<div class="row">
    <table class="table table-striped table-bordered table-light" width="100%">
        <thead>
        <tr>
            <th style="text-align: right">{{ task }}</th>
            {% for month in months %}
            <th class="col-xs-1" style="text-align: center">{{ month.short_name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for emp_info in emps_in_months %}
            <tr>
                <td> {{ emp_info.0 }} </td>
            {% for assignment in emp_info.1 %}
                {% if assignment == '-' %}
                <td> {{ assignment }} </td>
                {% else %}
                <td> {{ assignment }}% </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}