{% extends "base.html" %}
{% block title %}SmartRnD - Assignments{% endblock title %}

{% block content %}
<div class="col-md-12">
    <h2>Assignment of Employee to Tasks</h2>
    <span><a href="/add_new_ass" class="btn btn-primary btn-block">Assign Employee to Task</a></span>
    <div class="col-md-2">
        <table id="employeedatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Employee/Tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td><a href="/employee" style="color: #000000">{{ employee }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class=col-md-10">
        <div class="table-responsive">
        <table id="percentagedatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    {% for project in projects %}
                    <th class="col-xs-1"><a href="/tasks" style="color: #000000">P{{ project.id }}</a></th>
                    {% endfor %}
                    {% for chair in chairs %}
                    <th class="col-xs-1"><a href="/tasks" style="color: #000000">c{{ chair.id }}</a></th>
                    {% endfor %}
                    {% for position in positions %}
                    <th class="col-xs-1"><a href="/tasks" style="color: #000000">Planst. {{ position.id }}</a></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for employeetask in employeetasks %}
                <tr>
                {% for employeet in employeetask %}
                    <td><a href="/assignments" style="color: #000000">{{ employeet }}</a></td>
                {% endfor %}
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock content %}